#root {
height: 100vh;
width: 100vw;
background-color: #000000;
opacity: 0;
}

#loc-1{ 
    opacity: 0;
    font-family: 'Limelight', sans-serif;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    margin: 5vw;
    border-radius: 10px;
    max-width: 20vw;
}
.title{
    text-transform: uppercase ;
}

#loc-2{ 
    opacity: 0;

    font-family: 'Limelight', sans-serif;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    margin-left: 65vw;
    border-radius: 10px;
    max-width: 20vw;
}