@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');




body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}



#skyrim{
  font-family: 'Limelight', sans-serif;
  font-size: 20vh;
  opacity: 0;
  margin: 0;
  position: absolute;
  color: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}